/*======= common style =======*/


/* font roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* font roboto */

/* font Montserrat 700*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/* font Montserrat 700*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.4 !important;
    font-family: 'Roboto', sans-serif;
}

.body-bg {
    background-color: #F4F4F4;
}

@media only screen and (max-width: 767px) {
    body {
        min-width: 320px;
        overflow-x: hidden;
    }
}

.title-font-montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: unset;
    transition: 0.2s;
}

a:hover {
    text-decoration: none;
    opacity: 0.7;
}

ul,
li {
    list-style-type: none;
    margin: 0px;
}

img {
    display: block;
    width: 100%;
    transition: .2s;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

.container {
    /* custum */
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1023px) {
    .container {
        max-width: 960px;
    }
}

:root {
    --cl-highlight:#FFBD13;
}

.block-section {
    padding: 65px 0px;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

div [class*='col-']{
    padding-left: 10px;
    padding-right: 10px;
}


/*========= header style =========*/
header {
    position: relative;
    width: 100%;
    height: auto;
}

.header-top {
    position: relative;
    background-color: #383838;
}

.header__contact a {
    font-size: 14px;
    color: #fff;
    padding: 19px 15px;
    display: block;
}

.header__contact a.mail {
    padding-left: 0px;
    position: relative;
}

.header__contact a.mail::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 15px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.header__menu-contact li a {
    display: block;
    font-size: 14px;
    color: #fff;
    padding: 19px 15px;
    position: relative;
}

.header__menu-contact li:last-of-type a {
    padding-right: 0px;
}

.header__menu-contact li a::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 15px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.header__menu-contact li:last-of-type a::after {
    content: none;
}

.header-under {
    background-color: #2B2A2A;
}

.wrap-header-main {
    width: 100%;
    position: relative;
    height: 69px;
    justify-content: space-between;
    align-items: center;
}

.header__logo a:hover {
    opacity: 0.7;
    display: block;
}

.header__logo a img {
    max-width: 122px;
}

.wrap-header__menu {
    flex: 1;
    justify-content: flex-end;
    padding-left: 20px;
}

.header__menu {
    margin-right: 25px;
}

.header__menu li {
    margin: 0 15px;
}

.header__menu li a {
    font-size: 14px;
    padding: 10px 0px;
    color: #fff;
    position: relative;

    -webkit-transition: background-size 0.4s cubic-bezier(0.86, 0, 0.07, 1),
    color 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: background-size 0.4s cubic-bezier(0.86, 0, 0.07, 1),
        color 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(var(--cl-highlight)),
        to(var(--cl-highlight))
    );
    background-image: linear-gradient(var(--cl-highlight), var(--cl-highlight));
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0 1px;
    text-decoration: none;
}

.header__menu li a:hover {
    background-position: 0 100%;
    background-size: 100% 1px;
    color: var(--cl-highlight);
    opacity: 1;
}

.header__login {
    padding-left: 40px;
    position: relative;
}

.header__login::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: #fff;
}

.header__login a {
    font-size: 14px;
    color: #fff;
    padding-right: 22px;
}

.header__login a:last-of-type{
    padding-right: 0px;
}

.header__login a.register {
    font-size: 15px;
    color: #131415;
    font-weight: 500;
    padding: 9.5px 43px;
    border-radius: 10px;
}

.btn-ct {
    font-size: 15px;
    font-weight: 500;
    background-color: var(--cl-highlight);
    padding: 9.5px 43px;
    border-radius: 10px;
    white-space: nowrap;

    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    color: #131415;

    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.btn-ct:hover {
    opacity: 1;
}

.btn-ct::after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0%;
    height: 0%;
    background: rgba(255, 255, 255, 0.41);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}

.btn-ct:hover::after {
    -webkit-animation: circle .75s;
    animation: circle .75s;
}

@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

@keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

.btn-img-right img {
    max-width: 17px;
    margin-left: 8.5px;
}

/*========= end header style =========*/

.section-title {
    margin: 0 auto;
}

.section-title hr {
    width: 110px;
    height: 4px;
    background-color: var(--cl-highlight);
    margin:  0 auto;
    border: 0;

    position: relative;
}

.section-title hr::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    background-color: var(--cl-highlight);
    top: 0;
    right: -8px;
}

.section-title hr::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    background-color: var(--cl-highlight);
    top: 0;
    left: -8px;
}

.section-title h2 {
    margin-top: 12px;
    margin-top: 10px;
    font-size: 48px;
    color: #131415;
    text-align: center;
    text-transform: uppercase;
}

.section-title p {
    margin-top: 8px;
    text-align: center;
    font-size: 18px;
    color: #3C3C3B;
}

/*====start footer ====*/
footer {
    background-color: #131415;
}

.footer-inner {
    padding: 50px 0px 30px;
    position: relative;
}

.footer__contact {
    width: 31%;
    max-width: 360px;
}

.footer__logo a {
    display: block;
}

.footer__logo img {
    max-width: 122px;
}

.footer__logo h2 {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 10px 0px;
}

.footer__contact-inner li {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    color: #fff;
    font-size: 13px;
}

.footer__contact-inner li img {
    max-width: 20px;
    margin-top: 2px;
    width: auto;
    margin-right: 8px;
}

.footer__contact-inner li a {
    color: #fff;
    font-size: 13px;
    margin-top: 3px;
}

.footer-social__list {
    margin-bottom: 3px;
}

.footer-social__list li img {
    width: 41px;
    height: 41px;
}

.footer-social__list li {
    margin-right: 14px;
}

.footer-social__list li a {
    display: block;
}

.footer-social__list li:last-child {
    margin-right: 0px;
}

.wrap-footer__menu {
    display: flex;
    flex: 1;
    padding-left: 55px;
    padding-top: 16px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__block {
    width: 19%;
    padding-right: 10px;
    min-width: 100px;
    color: #fff;
}

.footer__block:nth-child(4) {
    flex: 1;
}

.footer__block:last-child {
    padding-right: 0px;
}

.footer__block h3 {
    font-size: 14px;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer__menu li a {
    font-size: 13px;
    display: block;
    margin-bottom: 10px;
}

.footer__menu li a:hover {
    color: var(--cl-highlight);
}

.footer__fanpage-fb {
    position: absolute;
    bottom: 30px;
    right: 0px;
    width: 30%;
    max-width: 286px;
}

.footer__fanpage-fb .footer__block {
    width: 100%;
}

.footer__fanpage-fb img {
    width: 100%;
}

.copyright {
    color: #fff;
    padding: 15px 0px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.5);
}

.copyright p {
    font-size: 14px;
    font-weight: 300;
}

.copyright a {
    font-size: 14px;
    font-weight: 300;
}

.copyright a:hover {
    color: #fff;
    opacity: 0.7;
}
/*====end footer ====*/

/*  property */
.property-item {
    position: relative;
    box-shadow: 0px 4px 30px 0px #00000026;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.property-item .thumb {
    position: relative;
    width: 100%;
    border-top: 16px solid #131415;
}

.property-item .thumb img {
    max-height: 181px;
    object-fit: cover;
}

.property--new {
    position: relative;
}

.property--new::after {
    position: absolute;
    content: "HOT";
    font-size: 14px;
    font-weight: 500;
    color:#131415;
    width: 50px;
    height: 50px;
    background-image: url(../image/new.svg);
    top: -16px;
    right: 20px;

    text-align: center;
    padding-top: 12px;
}

.property-item__info {
    background-color: #EEEEEE;
    padding: 11px 20px;
}

.property-item__info .info__item {
    display: flex;
    align-items: center;
    margin-right: 19px;
}

.property-item__info .info__item:last-of-type {
    margin-right: 0px;
}

.property-item__info .info__item img {
    max-width: 17px;
}

.property-item__info .info__item span {
    padding-left: 5px;
    font-size: 12px;
    color: #303030;
    white-space: nowrap;
}

.property-item .wrap-desc {
    padding: 12px 20px;
    background-color: #fff;
}

.wrap-desc .title a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #303030;

    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.location img {
    max-width: 9px;
    margin-right: 3px;
}

.location  {
    font-size: 12px;
    color:#131415;
}

ul.desc__number li {
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    padding: 9px 2px;
    text-align: center;
    color:#4A4A4A;
    width: calc(100%/2 - 5px);
    margin-bottom: 9px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul.desc__number li:last-child {
    margin-bottom: 0px;
    width: 100%;
}

ul.desc__number li:last-child small {
    font-size: 10px;
}

ul.desc__number li p {
    font-size: 12px;
    margin-bottom: 3px;
}

ul.desc__number li span {
    display: block;
    font-size: 24px;
    line-height: 1.1;
    font-weight: 500;
}

.wrap-desc .desc__link {
    margin-top: 12px;
}

.wrap-desc .desc__link a {
    width: calc(100%/2 - 5px);
    font-size: 13px;
    font-weight: 500;
    border-radius:10px;
    padding: 15px 10px;
    color:#2C2C2C;
    text-align: center;
    border: 1px solid #131415;
}

.wrap-desc .desc__link a.detail {
    border: 1px solid #131415;
}

.wrap-desc .desc__link a.invest {
    background-color: var(--cl-highlight);
    border-color: var(--cl-highlight);
}

.property-more-link {
    display: flex;
    width: max-content;
    justify-content: center;
    margin: 10px auto 0px;
    font-size: 18px;
    font-weight: 500;
    color: #131415;
    white-space: nowrap;
}

.property-more-link img {
    max-width: 20px;
    margin-left: 10px;
}
/* end property */


/* breadcrumb */
.breadcrumb-link {
    width: 100%;
    padding: 35px 0px;
}

.breadcrumb-link a img {
    max-width: 17px;
    margin-bottom: 3px;
}

.breadcrumb-link span {
    padding:  0 3px;
    font-size: 14px;
    color: #303030;
}

.breadcrumb-link span img {
    max-width: 15px;
}
/* breadcrumb */

/* responsive */
@media only screen and (max-width:1050px) {
    .header__menu {
        margin-right: 15px;
    }
    .header__login {
        padding-left: 25px;
    }
    .header__login::before {
        height: 20px;
    }
}

@media only screen and (max-width:1024px) {
    .header-top {
        display: none;
    }
    .wrap-header__menu {
        position: fixed;
        top: 70px;
        width: 100%;
        height: auto;
        max-width: 330px;
        background-color: #fff;
        z-index: 1000;
        right: 0px;
        flex: auto;
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: flex-start !important;
        box-shadow: 0 10px 20px rgb(0 0 0 / 40%);
        transition: all 0.4s ease-in;
        padding-left: 0px;
        background-color: #2B2A2A;
        transform: translateX(105%);
    }
    .wrap-header__menu.show {
        transform: translateX(0%);
    }
    .header__menu {
        margin-right: 0px;
        flex-direction: column;
        width: 100%;
    }
    .header__menu li {
        width: 100%;
        margin: 0px;
    }
    .header__menu li a {
        width: 100%;
        display: block;
        font-size: 16px;
        padding: 15px;
    }
   
    .header__login {
        width: 100%;
        justify-content: center;
        padding-left: 0px;
        padding:  15px;
        border-top: 0.5px solid rgba(255, 255, 255, 0.5);
    }

    @-webkit-keyframes fadeInItemMenu {
		0% {
			opacity: 0;
			transform: translateX(25%);
		}
		100% {
			opacity: 1;
			transform: translateX(0%);
            visibility: visible;
		}
	}

	@keyframes fadeInItemMenu {
		0% {
			opacity: 0;
			transform: translateX(25%);
		}
		100% {
			opacity: 1;
			transform: translateX(0%);
            visibility: visible;
		}
	}
    .wrap-header-main {
        height: 70px;
    }
    .header__logo a img {
        max-width: 100px;
    }
    .burger {
        min-width: 50px;
        width: 50px;
        height: 34px;
        background-color: #fff;   
        border-radius: 10px;
        box-shadow: 0 0px 10px 0px rgba(255, 255, 255, 0.6);
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        z-index: 10;
    }
    
    .burger span {
        left: 9px;
        position: absolute;
        width: 32px;
        height: 3px;
        border-radius: 3px;
        background-color: var(--cl-highlight);
        transition: 0.5s;
    }
    .burger span:nth-child(1) {
        transform: translateY(-8px);
        width: 24px;
        left: 9px;
    }
    .burger.active span:nth-child(3) {
        transform: translateX(70px);
    }
    .burger span:nth-child(2) {
        transform: translateY(8px);
        width: 13px;
        left: 9px;
    }
    .burger.active span:nth-child(1) {
        width: 32px;
        transform: translateY(0px) rotate(45deg);
        
        transition-delay: 0.125s;
    }
    .burger.active span:nth-child(2) {
        width: 32px;
        transform: translateY(0px) rotate(315deg);
        
        transition-delay: 0.25s;
    }
    ul.desc__number li  {
        min-height: 83px;
    }
}

@media only screen and (max-width:991px) {
     .wrap-footer__menu {
        display: none !important;
    }
    .footer__contact {
        width: 100%;
        max-width: 100%;
    }
    .property-item .wrap-desc {
        padding: 12px;
    }
}

@media only screen and (max-width:768px) {
    .block-section {
        padding: 45px 0px;
    }
    .section-title hr {
        width: 90px;
    }
    .section-title h2 {
        font-size: 28px;
    }
    .section-title p {
        font-size: 16px;
    }
    .footer-inner {
        flex-wrap: wrap;
        padding-top: 40px;
    }
    .footer__fanpage-fb {
        margin-top: 30px;
        position: static;
        width: 100%;
        max-width: 360px;
    }
    .copyright {
        padding: 10px 0px;
        justify-content: center !important;
    }
    .copyright p {
        font-size: 13px;
        margin-bottom: 6px;
        width: 100%;
        text-align: center;
    }
    .copyright a {
        font-size: 13px;
    }
    ul.desc__number li  {
        min-height: unset;
    }
}
/* responsive */