/* page product detail style */

.thumb__img {
    position: relative;
    margin-bottom: 20px;
}

.thumb__img > img {
    border-radius: 10px;
}

.thumb__option {
    position: absolute;
    bottom: 20px;
    left: 45px;
    right: 45px;
    background-color: #16233ACC;
    border-radius: 10px;
    padding: 12px;
}

.thumb__option button {
    background-color: transparent;
    margin: 0 13.5px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.slide__option {
    position: relative;
    overflow: hidden;
}

.slide__option img {
    max-width: 147px;
    border-radius: 10px;
}

.wrap-left {
    padding-bottom: 40px;
}

.slide__bt {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.slide__bt img {
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.aside-wrap {
    padding: 22px 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.aside-wrap h2 {
    font-size: 28px;
    color: #303030;
    font-weight: 700;
    margin-bottom: 6px;
}

.property-item__info {
    background-color: transparent;
    padding: 12px 0px 20px;
}

.product__info {
    border-top: 1px solid #E3E3E3;
    padding: 14px 0px 10px;
}

.product__info li {
    margin-bottom: 10px;
    list-style: disc;
    font-size: 14px;
    color: #4D555D;
}

.product__info li span {
    font-weight: 700;
    width: 42%;
    white-space: nowrap;
}

.product__info-number {
    flex-wrap: wrap;
    align-items: stretch;
    padding: 25px 0px 3px;
    border-top: 1px solid #E3E3E3;
}

.product__info-number li {
    width: 50%;
    margin-bottom: 35px;
}

.product__info-number li:nth-child(1),
.product__info-number li:nth-child(3) {
    width: 45%;
    padding-right: 4px;
}

.product__info-number li:nth-child(2),
.product__info-number li:nth-child(4) {
    width: 55%;
}

.product__info-number li .img {
    width: 43px;
    height: 43px;
    background-color:#F6F6F6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__info-number li .img img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.product__info-number li p {
    flex: 1;
    padding-left: 9px;
    font-size: 12px;
    color: #4A4A4A;
}

.product__info-number li p span {
    display: block;
    font-weight: 700;
    font-size: 20px;
}

a.link-to-invest {
    width: 100%;
    font-size: 16px;
    height: 55px;
}

.tab-list {
    padding: 21px 0px;
    overflow-x: auto;
}

.tab-list::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: #f0f0f0;
    border-radius: 6px;
}

.tab-list::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-radius: 6px;
}

.tab__link {
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    min-width: 275px;
    padding: 20px 15px;
    justify-content: center;
    transition: 0.2s;
}

.tab__link.active {
    background-color: var(--cl-highlight);
}

.tab__link img {
    width: auto;
    margin-right: 15px;
}

.tab__link  span {
    font-size: 16px;
    font-weight: 500;
    color: #2C2C2C;
}

.wrap-tab__content {
    padding: 40px 0px;
}

.block-content {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 40px;
    min-height: 424px;
}

.block-content h3 {
    background-color:#E3E3E3;
    padding: 22px 20px;
    font-size: 18px;
    font-weight: 500;
    color: #2C2C2C;
}

.block-content h3.bg-ct {
    background-color: #383838;
    color: #fff;
}

.block-content__desc {
    padding: 0px 20px;
}

.desc__row {
    padding: 12px 0px;
}

.desc__row-ct-pd {
    padding:  18px 0px;
}

.desc__row .img {
    width: 36px;
    height: 36px;
    background-color: var(--cl-highlight);
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc__row .img img {
    max-width: 21px;
}

.desc__row > span {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    color: #2C2C2C;
}

/* .desc__row-left {
    flex: 1;
} */

.desc__row-left span {
    font-size: 16px;
    color: #131415;
    flex: 1;
}

.desc__row h6 {
    font-size: 16px;
    color: #131415;
    font-weight: 400;
}

.desc__row h6 p {
    font-size: 12px;
    padding: 6px 0px;
}

.desc__row h6 p a {
    color: #6068cf;
    text-decoration: underline;
}

.desc__row-right p {
    font-size: 22px;
    font-weight: 500;
    color: #131415;
    white-space: nowrap;
    margin-right: 6px;
}

.desc__row-right p span {
    font-size: 18px;
    font-weight: 400;
}

.desc__row-right > span {
    display: block;
    font-size: 12px;
    color:#4A4A4A;
    text-align: right;
    width: 100%;
}

.desc__row-right img {
    width: 12px;
    margin-top: 2px;
}

.border-bottom-ct {
    border-bottom: 2px solid #303030;
}

.select-filter {
    padding-top: 12px;
}

.select-filter .custom-select {
    font-size: 12px;
    max-width: 100px;
    border-radius: 10px;
    max-height: 26px;
    padding: 4px 20px 4px 8px;
}

.desc__row small {
    font-size: 12px;
    line-height: 1.6;
    color: #4A4A4A;
    margin: 6px 0px;
    display: block;
}

.desc__row small a {
    color: #1899E2;
}

.desc__row small a:hover {
    text-decoration: underline;
}

.desc-button  {
    margin-top: 12px;
    width: 100%;
    font-size: 16px !important;
    min-height: 55px;
    display: flex !important; 
    text-decoration: none !important;
    text-align: center !important;
}

.desc-button.btn-ct-bg {
    background-color: #4D555D;
    color: #fff;
}

.desc__row h4 {
    font-size: 18px;
    color:#2C2C2C;
    font-weight: 500;
    margin: 16px 0px;
}

.form-group h6 {
    font-size: 18px;
    color: #2C2C2C;
    font-weight: 500;
    margin-bottom: 12px;
}

.form-group {
    position: relative;
}

.form-control {
    min-height: 50px;
    background-color:#F3F4F5;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.form-control::placeholder {
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.form-group span {
    position: absolute;
    width: 72px;
    height: 50px;
    bottom: 0;
    right: 0;
    border-left: 1px solid #E3E3E3;
    font-size: 16px;
    font-weight: 600;
    color: #000;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form-desc__row .form-group .custom-select {
    min-height: 50px;
    background-color:#F3F4F5;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.desc-box {
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 24px 20px;
    text-align: center;
    margin-bottom: 24px;
}

.desc-box h5 {
    color: #1899E2;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 4px;
}

.desc-box p {
    font-size: 34px;
    color: #131415;
    font-weight: 500;
    margin-bottom: 4px;
}

.number__persent span {
    font-size: 14px;
    font-weight: 400;
    width: 50%;
    max-width: 153px;
    padding: 4px;
    color: #5EBD52;
}

.number__persent span:first-child {
    color: #fff;
    background-color:#5EBD52;
}

.block-content__desc > a {
    font-size: 18px;
    color: #2C2C2C;
    font-weight: 500;
    display: block;
    text-decoration: underline;
}

.wrap-content02 {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 40px;
}

.wrap-content__title {
    background-color: #E3E3E3;
    padding: 14px 20px;
}

.title__text {
    padding-right: 20px;
}

.title__text img {
    width: 39px;
    margin-right: 15px;
}

.title__text h3 {
    font-size: 18px;
    color: #2C2C2C;
    font-weight: 500;
}

.wrap-content__title a {
    font-size: 18px;
    color: #2C2C2C;
    font-weight: 500;
    text-decoration: underline;
}

.wrap__inner-content {
    padding: 20px;
}

.inner-content__item {
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 20px 14px;
    width: calc(100%/3 - 16px);

    text-align: center;
}

.inner-content__item p {
    font-size: 18px;
    color: #2C2C2C;
}

.inner-content__item h4 {
    font-size: 34px;
    color:#131415;
    margin: 4px 0px;
    font-weight: 500;
}

.desc__row iframe {
    width: 100%;
}

.desc__row-ct-pd {
    padding: 20px 0px;
}

@media only screen and (max-width: 768px) {
    .breadcrumb-link {
        padding: 20px 0px;
    }
    .thumb__option {
        left: 16px;
        right: 16px;
        bottom: 10px;
    }
    .thumb__option button {
        margin: 0 10px;
    }
    .tab-list {
        padding: 1rem 0px;
    }
    .tab__link {
        min-width: 240px;
        max-width: 240px;
        padding: 14px;
    }
    .tab__link img {
        max-width: 32px;
    }
    .aside-wrap {
        padding: 16px 16px;
    }
    .block-content__desc {
        padding: 0px 16px;
    }
    .product__info-number li {
        margin-bottom: 20px;
    }
    .wrap__inner-content {
        flex-wrap: wrap;
        padding: 16px;
    }
    .inner-content__item {
        width: 100%;
        margin-bottom: 16px;
    }
    .inner-content__item:last-child {
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 479px) {
    .product__info-number li {
        width: 100% !important;
    }
    .title__text {
        padding-bottom: 10px;
    }
}