/* admin style */

.breadcrumb-link {
    padding: 20px 0px;
}

.admin-aside {
    padding: 24px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.block__content-admin {
    padding: 24px 24px 30px 24px;
    border-radius: 10px;
}

.menu-admin li {
    margin-bottom: 15px;
}

.menu-admin li:last-child {
    margin-bottom: 0px;
}

.menu-admin li a {
    padding: 8px 8px 8px 23px;
    border-radius: 10px;
    flex-wrap: nowrap;

    transition: 0.2s;
}

.menu-admin li a.active {
    background-color: var(--cl-highlight);
}

.menu-admin li a img {
    width: 24px;
}

.menu-admin li a span {
    font-size: 16px;
    color: #262626;
    padding-left: 23px;
    flex: 1;
}

.menu-admin li a.active span {
    font-weight: 500;
} 

.wrap-user__avatar {
    margin-bottom: 24px;
}

.user__avatar-img {
    width: 80px;
}

.user__avatar-upload {
    flex: 1;
    padding-left: 24px;
}

.button-upload-img {
    background-color: var(--cl-highlight);
    border: 0;
    outline: 0;
    max-width: 138px;
    max-height: 40px;
}

.button-upload-img  span {
    font-size: 16px;
    font-weight: 500;
    padding-left: 9px;
}

.user__avatar-upload p {
    margin-top: 16px;
    font-size: 14px;
    color:#4A4A4A;
}

.form-group {
    margin-bottom: 18px;
    position: relative;
}

.form-group label {
    font-size: 14px;
    margin-bottom: 8px;
    color: #4A4A4A;
}

.form-control {
    border-radius: 10px;
    border: 1px solid #E3E3E3;

    font-size: 14px;
    font-weight: 500;
    color: #000;
    height: 48px;
}

.form-control::placeholder {
    color:#4A4A4A;
    font-size: 14px;
    font-weight: 400;
}

.form-row {
    margin-left: -10px;
    margin-right: -10px;
}

.form-row>.col, .form-row>[class*=col-] {
    padding-right: 10px;
    padding-left: 10px;
}

.email-resend {
    background-color: #FFFAEE;
    border-radius: 10px;
    padding: 8px 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-resend span {
    font-size: 14px;
    color: var(--cl-highlight);
    font-weight: 500;
    flex: 1;
    padding-right: 10px;
}

.email-resend-submit {
    font-size: 15px;
    color:#131415;
    font-weight: 500;
    padding: 9px 22px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    background-color: var(--cl-highlight);
    cursor: pointer;
}

.email-resend-submit:hover {
    opacity: 0.7;
}

hr {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.form-location img {
    max-width: 24px;
}

.form-location  span {
    font-size: 16px;
    color:#262626;
    font-weight: 600;
    padding-left: 10px;
}

.save-cancel button {
    font-size: 15px;
    height: 40px;
    padding: 8px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E3E3E3;
    color: #4A4A4A;
    background-color: transparent;
    border-radius: 10px;
}

.save-cancel button:hover {
    opacity: 0.7;
}

.save-cancel button.save {
    background-color: var(--cl-highlight);
    font-weight: 500;
    color:#131415;
    margin-right: 20px;
}

.admin-wrap-content {
    margin-bottom: 60px;
}

.form-check-input:checked~.custom-control-label::before {
    background-color: var(--cl-highlight);
    border-color: var(--cl-highlight);
}

.custom-control-label::after {
    top: 6px;
    left: 2px;
    background-image: url(../image/check-white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0px;
    transition: 0.2s;
    top: 50%;
    transform: translateY(-50%);
}

.form-check-input:checked~.custom-control-label::after{
    background-size: 14px;
}

.custom-control-label::before {
    border-radius: 2px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #A3A8AF;
    border-radius: 2px;
    top: 50%;
    transform: translateY(-50%);
}

.notifi__date {
    position: relative;
}

.form-check-label {
    padding-left: 40px;
}

.notifi__item {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #E3E3E3;
}

.notifi__icon-deleted {
    cursor: pointer;
}

.notifi__icon-deleted svg  {
    width: 24px;
}

.notifi__icon-deleted.active svg path {
    fill: #3480FF;
}

.notifi__icon-deleted.active span {
    color: #3480FF;
}

.notifi__icon-deleted span {
    font-size: 14px;
    color: #4A4A4A;
    padding-left: 8px;
}

.notifi__desc {
    flex: 1;
    padding-left: 40px;
    padding-right: 9px;
}

.notifi__desc img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}

.notifi__desc  p {
    padding-left: 20px;
    font-size: 14px;
    line-height: 1.6;
}

.notifi__desc  p a {
    color: #3480FF;
}

.notifi__date  .form-check-label {
    font-size: 14px;
    color:#4A4A4A;
}

.form-group__filter img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 11px;
    width: 18px;
    cursor: pointer;
}

.form-group__filter input,
.form-group__filter select {
    font-size: 14px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid#E3E3E3;
    min-width: 180px;
}

.project-like__item {
    padding: 12px 0px;
}

.project-like__title {
    font-size: 16px;
    font-weight: 500;
    color:#4A4A4A;
    margin-bottom: 12px;
}

.project-like__inner .thumb {
    width: 120px;
    margin-right: 20px;
}

.project-like__inner .thumb img {
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

.desc__left {
    flex: 1;
    padding-right: 10px;
}

.project-like__inner .desc {
    flex: 1;
    border-bottom: 1px solid #E3E3E3;
}

.desc .location img {
    max-width: 14px;
    margin-right: 3px;
}

.desc .location p {
    flex: 1;
    font-size: 14px;
    color: #4A4A4A;
}

.desc span.price {
    color: var(--cl-highlight);
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    padding-top: 3px;
}

.desc__bt svg {
    width: auto;
}

.desc__bt span {
    font-size: 14px;
    color: #4A4A4A;
    padding-left: 6px;
    padding-top: 2px;
}

.desc__bt {
    position: relative;
    z-index: 2;
}

.desc__bt:hover span {
    color: #3480FF;
}


/* responsive */
@media only screen and (max-width: 767px) {
    .breadcrumb-link {
        padding: 14px 0px;
    }
    .admin-aside {
        padding: 20px 15px;
    }
    .block__content-admin {
        padding: 20px 15px 24px 15px;
        border-radius: 10px;
    }
    .admin-wrap-content {
        margin-bottom: 45px;
    }  
    .user__avatar-upload{
        padding-left: 16px;
    }  
    .notifi__icon-deleted span {
        display: none;
    }
    .notifi__date  .form-check-label span {
        display: none;
    }
    .notifi__desc {
        padding-left: 0px;
    }
    .notifi__desc p {
        padding-left: 15px;
    }
    .notifi__date {
        display: none !important;
    }
    .notifi__item {
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    .project-like__inner .thumb {
        margin-right: 10px;
    }
    .desc__bt span {
        display: none;
    }
    .project-like__inner .thumb {
        width: 90px;
    }
    .project-like__inner .thumb img {
        height: 68px;
    }
    .desc span.price {
        font-size: 22px;
        padding-top: 0px;
    }
}